<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zee.club.home">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.activities.SportsMeetingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.ActivitiesPosterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activities.ActivitiesPublishActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.notice.BiddingListActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.notice.OwnerNoticeActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.about.ClassicAppListActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.about.LuckyMetaActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.article.ArticleDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.about.EnergyStationActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.alone.AloneActivity"
            android:exported="false" />
        <activity
            android:name=".ui.information.LevelTwoActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>

</manifest>